.ant-layout-content {
    padding: 10px 10px 0 10px;
}

.site-layout-content {
    min-height: 88vh;
    padding: 24px;
    background: #fff;
}

.ant-layout-footer {
    text-align: center;
    padding: 10px 50px;
}
